<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hackathon</title>
	<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.css">
	<style type="text/css">
	@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
		src: local('Material Icons'),
		   local('MaterialIcons-Regular'),
		   url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
		   url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
		   url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
	}
	</style>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
	<script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="node_modules/angular-messages/angular-messages.js"></script>
	<script type="text/javascript">
	// var app = angular.module('hackathon', []);
	var app = angular.module('hackathon', ['ngMaterial', 'ngMessages']);

	app.controller('loginCtrl', function($scope){
		$scope.user = "";
	})
	.config(function($mdThemingProvider) {
  		$mdThemingProvider.theme('default')
		// .primaryPalette('pink')
		// .accentPalette('orange');
	    .primaryPalette('light-blue', {
	      'default': '400', // by default use shade 400 from the pink palette for primary intentions
	      'hue-1': '100', // use shade 100 for the <code>md-hue-1</code> class
	      'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
	      'hue-3': 'A100' // use shade A100 for the <code>md-hue-3</code> class
	    })
	    // If you specify less than all of the keys, it will inherit from the
	    // default shades
	    .accentPalette('purple', {
	      'default': '200' // use shade 200 for default, and keep all other shades the same
	    });
	});
	</script>
	<script type="text/javascript">
	</script>
</head>

<body data-ng-app="hackathon">
	
<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings">
			<!-- http://google.github.io/material-design-icons/#getting-icons -->
			<md-icon></md-icon>
		</md-button>
	<h2>
		<span class="md-title">MediaMath</span>
	</h2>
	</div>
</md-toolbar>

<div data-ng-controller="loginCtrl" layout-margin layout-fill>
	<h3 layout-padding="md-padding" layout="row" class="md-title">login</h3>
	<md-content layout="column">
		<md-input-container flex md-no-float>
			<input ng-model="mm.user" type="text" placeholder="username">
		</md-input-container>
		<md-input-container flex>
			<input ng-model="mm.password" type="password" placeholder="password">
		</md-input-container>
		<input type="hidden">
	</md-content>

<md-content layout-padding>
    Lorem ipsum dolor sit amet, ne quod novum mei.
</md-content>
<md-subheader>Online Friends</md-subheader>

<md-checkbox ng-model="isChecked" aria-label="Finished?">
  Finished ?
</md-checkbox>
<md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
  No Ink Effects
</md-checkbox>
<md-checkbox ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
  Disabled
</md-checkbox>

</div>

</body>
</html>