<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>T1 Mobile</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	
	<style>
	/*http://angular-ui.github.io/bootstrap/*/
	.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
	</style>

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
	<script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="node_modules/angular-messages/angular-messages.js"></script>
	<script type="text/javascript" src="node_modules/angular-ui-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript">
	var campaigns = [
			{
				name: 'campaign 1',
				start_date: '12212015T00:00:00',
				end_date: '12292015T00:00:00',
				budget: '1000.00'
			},
			{
				name: 'campaign 2',
				start_date: '12212015T00:00:00',
				end_date: '01012019T00:00:00',
				budget: '2222.22'
			},
			{
				name: 'campaign 3',
				start_date: '10102020T00:00:00',
				end_date: '11112021T00:00:00',
				budget: '333.33'
			}];
	
	</script>
	<script type="text/javascript">
	(function(window, angular, undefined) {'use strict';

		var app = angular.module('hackathon', ['ngMessages', 'ngAnimate', 'ngRoute', 'ui.bootstrap']);

		app.controller('loginCtrl', function($http, $scope){
			$http.post('https://t1qa2.mediamath.com/api/v2.0/login/', {
				user: '',
				password: '',
				api_key: ''
				}
			)
			.then(function(response) {
			// this callback will be called asynchronously
			// when the response is available
				$scope.response = response;
				console.table('response', response);
			}, function(failresponse) {
			// called asynchronously if an error occurs
			// or server returns response with an error status.
				console.table('failresponse', failresponse);
				$scope.failresponse = failresponse;
			});
		});

		app.controller('listCampaigns', ['$scope', function ($scope){
			$scope.campaigns = window.campaigns;
			$scope.collapse = {};
		}]);

	})(window, window.angular);

	</script>
</head>
<!-- <div data-ng-controller="loginCtrl" class="loginctrl">{{ response }}</div> -->
<body ng-app="hackathon" data-ng-controller="listCampaigns">
	<nav class="navbar navbar-default navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        T1 MM
	      </a>
	    </div>
	  </div>
	</nav>
	<div>
	<button class="btn btn-default" ng-click="isCollapsed_0 = !isCollapsed_0">Toggle collapse</button>
	<hr>
	</div>
	<div class="table-responsive">
		<table class="table table-striped list-campaigns table-hover table-condensed">
			<tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Budget</th>
			</tr>
		<!-- actually want an accordion here... -->
			<tr collapse="isCollapsed_{{$index}}" ng-repeat="campaign in campaigns track by $index">
				<td>{{campaign.name}}</td>
				<td>{{campaign.start_date}}</td>
				<td>{{campaign.end_date}}</td>
				<td>{{campaign.budget}}</td>
			</tr>
		</table>
	</div>
</body>
</html>